---
import Layout from '@/layouts/Layout.astro'
import Canvas from '@/features/wildhearts/weapon-sim/components/Canvas'
import Equipped from '@/features/wildhearts/weapon-sim/components/Equipped'
import StateUrl from '@/features/wildhearts/weapon-sim/components/StateUrl'
import ModalButton from '@/features/wildhearts/weapon-sim/components/ModalButton'
import GlobalModal from '@/features/wildhearts/weapon-sim/components/GlobalModal'
import GlobalToolTip from '@/features/wildhearts/weapon-sim/components/GlobalToolTip'

const title = "WILD HEARTS 武器シミュレータ"
const description = "WILD HEARTS 内で装備可能な武器の強化派生を調べることができるシミュレータ"
const og_image = '/assets/ogp_wildhearts_weapon-sim.jpg'
const path = '/wildhearts/weapon-sim/'

export function getStaticPaths() {
  return [
    { params: { category: 'katana' } },
    { params: { category: 'nodachi' } },
    { params: { category: 'maul' } },
    { params: { category: 'bow' } },
    { params: { category: 'wagasa' } },
    { params: { category: 'canon' } },
    { params: { category: 'claw' } },
    { params: { category: 'staff' } },
  ];
}
---
<Layout title={title} description={description} og_image={og_image} path={path}>
  <main class="bg-gray-600">
    <div class="flex space-x-2 text-xs md:text-sm">
      <a href="/wildhearts/armor-sim" class="inline-block border rounded-lg px-2 border-amber-400 text-amber-400 hover:text-gray-800 bg-gray-800 hover:bg-amber-400">防具シミュレータに移動</a>
      <a href="/wildhearts/weapon-sim/reset" class="inline-block border rounded-lg px-2 border-amber-400 text-amber-400 hover:text-gray-800 bg-gray-800 hover:bg-amber-400">武器種選択に戻る</a>
      <!-- <ModalButton client:load /> -->
    </div>
    <StateUrl path={Astro.url.pathname} client:load />
    <div class="overflow-x-scroll">
      <Canvas client:only="react" />
      <div>
      <Equipped client:only="react" />
      </div>
    </div>
    <section class="mt-2 text-xs text-amber-500">
      <ul>
        <li>(C)コーエーテクモゲームス All rights reserved.</li>
        <li>(C)2022 Electronic Arts Inc.</li>
      </ul>
    </section>
	</main>
  <GlobalModal client:only="react" />
  <GlobalToolTip client:load/>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  }
</style>
